<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>albums</title>
</head>
<body>
<div>
    <form th:action="@{/albums}" method="POST">
        <input type="text" name="title">
        <input type="text" name="artist">
        <input type="number" name="songCount">
        <input type="number" name="length">
        <input type="text" name="imageUrl">
        <input type="submit" value="submit">

    </form>
</div>
  <div th:each="album :${list}">
      <p th:text="${album.title}"></p>
      <p th:text="${album.artist}"></p>
      <p th:text="${album.songCount}"></p>
      <p th:text="${album.length}"></p>
      <img src=th:text="${album.imageUrl}" alt="image">
      <div th:each="song :${album.getSongs}">
          <p th:text="${song.title}"></p>
      </div>


  </div>


</body>
</html>