<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>album</title>
  <link rel="stylesheet" href="/css/albums.css">
</head>
<body>
<div class="container" >
  <article class="card">
    <div class="card__img-container">
      <img th:src="${album.imageUrl}" alt="Image" class="card__img">
      <div class="card__img-underlay"></div>
    </div>

    <div class="card__content">
      <h3 class="card__title" th:text="${album.getTitle}" ></h3>
      <p class="card__desc" th:text="${album.songCount}" ></p>
      <p class="card__desc" th:text="${album.length}" ></p>
      <p>Songs :</p>
      <div th:each="song :${album.getSongs}">
        <li th:text="${song.title}"></li>
      </div>
      <div class="card__flex">
        <span class="card__author" th:text="${album.artist}"></span>

      </div>
    </div>
  </article>
</div>
</body>
</html>