<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/albums.css">

</head>
<body>
<div>
    <form th:action="@{/songs} " method="POST">

        <legend>Add A Song</legend>
        <label> Title</label>
        <input number="text" name="title">

        <label> Length (Seconds)</label>
        <input type="number" name="length">

        <label>Track Number</label>
        <input type="number" name="trackNumber">

        <label>Album</label>
        <input type="text" name="albumTitle">

        <input type="submit" value="submit">

    </form>
    <div class="flex1">
        <div th:each="song :${list}">
            <div class="container">
                <article class="card">
                    <div class="card__img-container">
<!--                        <img th:src="" alt="image" class="card__img">-->
                        <div class="card__img-underlay"></div>
                    </div>

                    <div class="card__content">
                        <span class="card__icon fab fa-linkedin"></span>
                        <h3 class="card__title" th:text="${song.title}"></h3>
                        <p class="card__desc" th:text="${song.trackNumber}"></p>
                        <p class="card__desc" th:text="${song.length}"></p>
                        <div class="card__flex">
                            <span class="card__author" th:text="${song.album.title}"></span>
                            <span class="fa fa-arrow-right"></span>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

    <!--<div th:each="song :${list}">-->
    <!--    <p th:text="${song.title}"></p>-->
    <!--    <p th:text="${song.length}"></p>-->
    <!--    <p th:text="${song.trackNumber}"></p>-->

    <!--    </div>-->

</body>
</html>